GerenciarConsulta
CadastrarConsulta
CadastrarDeterminadasConsulta
EditarConsulta
EditarDeterminadaConsulta
ExcluirConsulta
ExcluirDeterminadaConsulta
ArmazenarConsultasRealizadas
GerenciarUsuario
CadastrarUsuario
EditarUsuario
EditarDeterminadoUsuario
ExcluirUsuario
ExcluirDeterminadoUsuario
BuscarUsuario
GerenciarTipoUsuario
CadastrarTipoUsuario
GerenciarCronograma
CadastrarDeterminadoCronograma
BuscarCronograma
BuscarDeterminadoCronograma
EditarCronograma
EditarDeterminadoCronograma
